@{
    ViewData["Title"] = "Circuit Simulator";
}

<div class="container-fluid mt-3">
    <h2 class="mb-3">Interactive Circuit Simulator</h2>
   
    <div class="ratio ratio-16x9" style="min-height: 80vh;">
        <iframe src="https://www.falstad.com/circuit/circuitjs.html"
                style="width:100%; height:100%; border:none;"
                loading="lazy"
                referrerpolicy="no-referrer">
        </iframe>
    </div>

   
</div>
